<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventController</servlet-name>
        <servlet-class>com.servlet.EventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolunteerController</servlet-name>
        <servlet-class>com.servlet.VolunteerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.servlet.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolunteerCardController</servlet-name>
        <servlet-class>com.servlet.VolunteerCardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonorController</servlet-name>
        <servlet-class>com.servlet.DonorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockController</servlet-name>
        <servlet-class>com.servlet.StockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventController</servlet-name>
        <url-pattern>/eventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolunteerController</servlet-name>
        <url-pattern>/volunteerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolunteerCardController</servlet-name>
        <url-pattern>/volunteerCardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonorController</servlet-name>
        <url-pattern>/donorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockController</servlet-name>
        <url-pattern>/stockController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
